<h1>Reservation:</h1>
<h2>Room:</h2>
<div fxLayout="row">
  <div *ngFor="let column of displayedColumn" fxFlex="20">
    {{column}}
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="20">
    {{data.room.RoomNumber}}
  </div>
  <div fxFlex="20">
    {{data.room.Beds}}
  </div>
  <div fxFlex="20">
    {{data.room.DoubleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.SingleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.Standard}}
  </div>
</div>
<h2>Data range</h2>
<div fxLayout="row">
  <div fxFlex="50">
    From: {{data.dates.dateFrom | date: 'short'}}
  </div>
  <div fxFlex="50">
    To: {{data.dates.dateTo | date: 'short'}}
  </div>
</div>
<h2>Customer:</h2>
<button mat-button (click)="GetCustomer()">Get Customers</button>
<app-add-customer></app-add-customer>
<button mat-button [disabled]="!customerForm.valid" (click)="createNewReservation()">Add reservation</button>