<h1>Reservation:</h1>
<h2>Room:</h2>
<div fxLayout="row">
  <div *ngFor="let column of displayedColumn" fxFlex="20">
    {{column}}
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="20">
    {{data.room.RoomNumber}}
  </div>
  <div fxFlex="20">
    {{data.room.Beds}}
  </div>
  <div fxFlex="20">
    {{data.room.DoubleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.SingleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.Standard}}
  </div>
</div>
<h2>Data range</h2>
<div fxLayout="row">
  <div fxFlex="50">
    From: {{data.dates.dateFrom | date: 'short'}}
  </div>
  <div fxFlex="50">
    To: {{data.dates.dateTo | date: 'short'}}
  </div>
</div>

<div fxLayout="column" *ngIf="customer">
  <h2>Customer:</h2>
  <div>
    <div>FirstName: {{customer.FirstName}}</div>
    <div>LastName: {{customer.LastName}}</div>
  </div>
  <div>
    <div>Email: {{customer.Email}}</div>
    <div>PhoneNumber: {{customer.PhoneNumber}}</div>
  </div>
</div>
<div *ngIf="!customer">
  <h2>You need to add customer first</h2>
</div>
<button mat-button (click)="getCustomer()">Get Customers</button>
<button mat-button (click)="createCustomer()">Create Customer</button>
<button mat-button [disabled]="!customerValid()" (click)="createNewReservation()">Add reservation</button>