<div fxLayout="row">
  <div *ngFor="let column of displayedColumn" fxFlex="20">
    {{column}}
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="20">
    {{data.room.RoomNumber}}
  </div>
  <div fxFlex="20">
    {{data.room.Beds}}
  </div>
  <div fxFlex="20">
    {{data.room.DoubleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.SingleBeds}}
  </div>
  <div fxFlex="20">
    {{data.room.Standard}}
  </div>
</div>
<h1>Reservation</h1>
<div fxLayout="row">
  <div fxFlex="50">
    {{data.dates.dateFrom}}
  </div>
  <div fxFlex="50">
    {{data.dates.dateTo}}
  </div>
</div>
<h1>Customer:</h1>
<form [formGroup]="customerForm">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
  <label>
    Phonenumber:
    <input type="text" formControlName="phoneNumber">
  </label>
</form>
<button mat-button [disabled]="!customerForm.valid" (click)="createNewReservation()">Add reservation</button>