<div fxLayout="row" fxLayoutAlign="center start" style="background-color:salmon;" [formGroup]="reservationForm">
    <mat-form-field fxFlex="40">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date from" formControlName="dateFrom">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div fxFlex="20"></div>
    <mat-form-field fxFlex="40">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Choose a date to" formControlName="dateTo">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>

