<h2>
  Free rooms for this date range: 
</h2>
<div fxLayout="row">
  <div *ngFor="let column of displayedColumn" fxFlex="20">
    {{column}}
  </div>
</div>
<div fxLayout="column">
  <div>
    <div *ngFor="let room of rooms" [ngClass]="{'marked': markedRoom == room}" (click)="markRoom(room)">
      <div fxLayout="row">
        <div fxFlex="20">
          {{room.RoomNumber}}
        </div>
        <div fxFlex="20">
          {{room.Beds}}
        </div>
        <div fxFlex="20">
          {{room.DoubleBeds}}
        </div>
        <div fxFlex="20">
          {{room.SingleBeds}}
        </div>
        <div fxFlex="20">
          {{room.Standard}}
        </div>
      </div>
    </div>
  </div>