<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar>
</app-navbar> -->
<mat-toolbar color="warn" *ngIf="authService.isLoggedIn()">
    <mat-toolbar-row>
        <h1 mat-subheader>Remote hotel</h1>
        <mat-form-field>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        <span class="spacer"></span>
        <mat-icon class="logout" (click)="authService.logout()">exit_to_app</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened *ngIf="authService.isLoggedIn()">

        <mat-nav-list>
            <a mat-list-item routerLink='/dashboard'>Dashboard</a>
            <a mat-list-item routerLink='/users'>Users</a>
            <a mat-list-item routerLink='/profil'>Profil</a>
            <a mat-list-item routerLink='/creator'>Creator</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>