<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar>
</app-navbar> -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <h1 mat-subheader>Remote hotel</h1>
        <mat-nav-list>
            <a mat-list-item routerLink='/dashboard'>Dashboard</a>
            <a mat-list-item routerLink='/users'>Users</a>
            <a mat-list-item routerLink='/profil'>Profil</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

